<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adrese</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />

</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Cod postal</th>
            <th>Strada</th>
            <th>Oras</th>
        </tr>
        </thead>
        <tr th:each="adresa: ${adrese}">
            <td th:text="${adresa.id_adresa}"></td>
            <td th:text="${adresa.cod_postal}"></td>
            <td th:text="${adresa.strada}"></td>
            <td th:text="${adresa.oras.denumire}"></td>
            <td>
                <a href="#" th:href="@{'/adresa/delete/'+${adresa.id_adresa}}">Sterge adresa</a>
            </td>

        </tr>
    </table>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/adresa/new'}">Adauga adresa noua</a>
        </div>

    </div>
</div>


</body>
</html>