<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avioane</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />

</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Denumire</th>
            <th>Anul construirii</th>
            <th>Capacitate</th>
            <th>Companie</th>
            <th>Actiuni</th>
        </tr>
        </thead>
        <tr th:each="avion: ${avioane}">
            <td th:text="${avion.idAvion}"></td>
            <td th:text="${avion.denumire}"></td>
            <td th:text="${avion.an_constructie}"></td>
            <td th:text="${avion.capacitate}"></td>
            <td th:text="${avion.companieAerianaAvion.denumire}"></td>
            <td> <a href="#" th:href="@{'/avion/delete/'+${avion.idAvion}}">Sterge avion</a> </td>
        </tr>
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/avion/new'}">Adauga avion</a>
        </div>
    </div>
</div>



</body>
</html>