<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:action="@{/client}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{client.id_client}"/>
    <input type="hidden" th:field="*{contact.idContact}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Client INFO</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Nume:</label>
                        <input type="text" class="form-control" th:field="*{client.nume}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Prenume:</label>
                        <input type="text" class="form-control" th:field="*{client.prenume}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Cnp:</label>
                        <input type="text" class="form-control" th:field="*{client.cnp}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Data nasterii:</label>
                        <input type="date" class="form-control" th:field="*{client.data_nasterii}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Telefon:</label>
                        <input type="text" class="form-control" th:field="*{contact.telefon}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" th:field="*{contact.email}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Website:</label>
                        <input type="text" class="form-control" th:field="*{contact.website}"/>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 ml-md-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>


</form>
</body>
</html>