<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clienti</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Data nasterii</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Actiuni</th>

        </tr>
        </thead>
        <tr th:each="client: ${clienti}">
            <td th:text="${client.id_client}"></td>
            <td th:text="${client.nume}"></td>
            <td th:text="${client.prenume}"></td>
            <td th:text="${client.data_nasterii}"></td>
            <td th:text="${client.contact.email}"></td>
            <td th:text="${client.contact.telefon}"></td>
            <td>
                <a href="#" th:href="@{'/client/delete/'+${client.id_client}}">Sterge clientul</a>
                <a href="#" th:href="@{'/client/vanzari/'+${client.id_client}}">Verifica raport anual(2022)</a>
            </td>

        </tr>
    </table>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/client/new'}">Adauga client nou</a>
        </div>

    </div>
</div>


</body>
</html>