<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avion Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:object="${destinatie}" th:action="@{/zbor/destinatie}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Avion INFO</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Localitate:</label>
                        <input type="text" class="form-control" th:field="*{localitate}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Tara:</label>
                        <input type="text" class="form-control" th:field="*{tara}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Zona covid:</label>
                        <select id="zona_covid" name="zona_covid" th:field="*{zona_covid}">
                            <option

                                    th:each="zona_covid:${T(proiect.domain.Destinatie.ZonaCovid).values()}"
                                    th:value="${zona_covid}" th:text="${zona_covid.name()}">

                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" id="user.name" name="user.name">
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Parola:</label>
                        <input type="password" class="form-control" id="user.parola" name="user.parola">
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
</body>
</html>