<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oras Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:object="${oras}" th:action="@{/oras}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id_oras}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Oras INFO</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Denumire:</label>
                        <input type="text" class="form-control" th:field="*{denumire}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Abreviere:</label>
                        <input type="text" class="form-control" th:field="*{abreviere}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Judet:</label>
                        <select name="judet">
                            <option

                                    th:each="judet: ${judete}"
                                    th:value="${judet.id_judet}" th:text="${judet.abreviere+'->'+judet.denumire}">

                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Zona Covid:</label>
                        <select name="zona_covid">
                            <option

                                    th:each="zonaCovid: ${zoneCovid}"
                                    th:value="${zonaCovid.id_zona_covid}" th:text="${zonaCovid.descriere+'->'+zonaCovid.zona}">

                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-7 ml-md-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>


</form>
</body>
</html>