<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Vanzari bilete '"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Data</th>
            <th>Vanzari</th>
            <th>Profit fata de ziua precedenta</th>

        </tr>
        <tr th:each="vanzare: ${vanzari}">
            <td th:text="${vanzare.data}"></td>
            <td th:text="${vanzare.vanzari}"></td>
            <td th:text="${vanzare.diferenta}"></td>
        </tr>
        </thead>
    </table>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/bilet'}">Inapoi la pagina de bilete</a>
        </div>

    </div>
</div>


</body>
</html>