<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zbor Info</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
<body>
<form th:object="${zbor}" th:action="@{/zbor}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{idZbor}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Zbor INFO</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Aeroport plecare:</label>
                        <select id="aeroport_plecare" name="aeroport_plecare">
                            <option

                                    th:each="aeroport: ${aeroporturi}"
                                    th:value="${aeroport.idAeroport}" th:text="${aeroport.denumire}">

                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Aeroport sosire:</label>
                        <select id="aeroport_sosire" name="aeroport_sosire">
                            <option

                                    th:each="aeroport: ${aeroporturi}"
                                    th:value="${aeroport.idAeroport}" th:text="${aeroport.denumire}">

                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Pilot:</label>
                        <select id="pilot" name="pilot">
                            <option

                                    th:each="pilot: ${piloti}"
                                    th:value="${pilot.idPilot}" th:text="${pilot.nume+' '+pilot.prenume}">

                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Copilot:</label>
                        <select id="copilot" name="copilot">
                            <option

                                    th:each="pilot: ${piloti}"
                                    th:value="${pilot.idPilot}" th:text="${pilot.nume+' '+pilot.prenume}">

                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Avion:</label>
                        <select id="avion" name="avion">
                            <option

                                    th:each="avion: ${avioane}"
                                    th:value="${avion.idAvion}" th:text="${avion.denumire+' '+avion.an_constructie}">

                            </option>
                        </select>

                    </div>
                    <div class="col-md-3 form-group">
                        <label>Companie aeriana:</label>
                        <select id="companie_aeriana" name="companie_aeriana">
                            <option

                                    th:each="companie_aeriana: ${companii_aeriane}"
                                    th:value="${companie_aeriana.id_companie_aeriana}" th:text="${companie_aeriana.denumire+' '+companie_aeriana.anul_infiintarii}">

                            </option>
                        </select>

                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Data plecarii reala:</label>
                            <input placeholder="Selecteaza data de plecare reala" type="text" id="data_plecare_reala"
                                   name="data_plecare_reala" class="form-control datepicker">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Data plecarii estimata:</label>
                            <input placeholder="Selecteaza data de plecare estimata" type="text"
                                   id="data_plecare_estimata" name="data_plecare_estimata"
                                   class="form-control datepicker">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Data sosirii reala:</label>
                            <input placeholder="Selecteaza data de sosire reala" type="text" id="data_sosire_reala"
                                   name="data_sosire_reala" class="form-control datepicker">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Data sosirii estimata:</label>
                            <input placeholder="Selecteaza data de sosire estimata" type="text"
                                   id="data_sosire_estimata" name="data_sosire_estimata"
                                   class="form-control datepicker">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-7 ml-md-auto">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>

<script>
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
    });
</script>